#lbl {
    -fx-background-image: url("circle__plain__by_treisaran-d54fnp6.png");
            -fx-background-size: 50px;
            -fx-min-width: 50px;
            -fx-min-height: 50px;
            -fx-max-width: 100px;
            -fx-max-height: 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-text-alignment: center;
}

#root {
    -fx-background-color: #ffffff;
}